---
#### Common ####
osa_branch: master
osa_no_containers: True
osa_apply_security_hardening: false
osa_vm_image: jammy

#### Images ####
images:
  jammy:
    name: osa-mnaio-ubuntu-jammy
    filename: jammy-server-cloudimg-amd64.img
    container_format: bare
    disk_format: qcow2
    url: https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img
    sha256file: https://cloud-images.ubuntu.com/jammy/current/SHA256SUMS
  focal:
    name: osa-mnaio-ubuntu-focal
    filename: focal-server-cloudimg-amd64.img
    container_format: bare
    disk_format: qcow2
    url: https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
    sha256file: https://cloud-images.ubuntu.com/focal/current/SHA256SUMS

#### Networking ####
# Neutron plugin choice are: ml2.ovn,ml2.ovs
osa_neutron_plugin: ml2.ovn

#### Keepalived/HAproxy ####
#internal_lb_vip_address: 172.29.236.10
#external_lb_vip_address: 172.29.236.11

#### Less Common ####
default_container_tech: lxc
osa_enable_infra: True
osa_enable_compute: True
osa_enable_ceph: False
tf_state_file: "{{ lookup('env', 'MNAIO_TF_STATE_FILE') }}"
