#### Flavors ####

resource "openstack_compute_flavor_v2" "osa-mnaio-controller-flavor" {
  name  = "${join("-",["${random_pet.pet_name.id}","osa-mnaio-controller"])}"
  ram   = "{{ mnaio_deployment['controller'].flavor.ram }}"
  vcpus = "{{ mnaio_deployment['controller'].flavor.cpu }}"
  disk  = "{{ mnaio_deployment['controller'].flavor.disk }}"
}

resource "openstack_compute_flavor_v2" "osa-mnaio-compute-flavor" {
  name  = "${join("-",["${random_pet.pet_name.id}","osa-mnaio-compute"])}"
  ram   = "{{ mnaio_deployment['compute'].flavor.ram }}"
  vcpus = "{{ mnaio_deployment['compute'].flavor.cpu }}"
  disk  = "{{ mnaio_deployment['compute'].flavor.disk }}"
}

resource "openstack_compute_flavor_v2" "osa-mnaio-loadbalancer-flavor" {
  name  = "${join("-",["${random_pet.pet_name.id}","osa-mnaio-lb"])}"
  ram   = "{{ mnaio_deployment['loadbalancer'].flavor.ram }}"
  vcpus = "{{ mnaio_deployment['loadbalancer'].flavor.cpu }}"
  disk  = "{{ mnaio_deployment['loadbalancer'].flavor.disk }}"
}

resource "openstack_compute_flavor_v2" "osa-mnaio-deployer-flavor" {
  name  = "${join("-",["${random_pet.pet_name.id}","osa-mnaio-deploy"])}"
  ram   = "{{ mnaio_deployment['deployer'].flavor.ram }}"
  vcpus = "{{ mnaio_deployment['deployer'].flavor.cpu }}"
  disk  = "{{ mnaio_deployment['deployer'].flavor.disk }}"
}

resource "openstack_compute_flavor_v2" "osa-mnaio-ceph-flavor" {
  name  = "${join("-",["${random_pet.pet_name.id}","osa-mnaio-ceph"])}"
  ram   = "{{ mnaio_deployment['ceph'].flavor.ram }}"
  vcpus = "{{ mnaio_deployment['ceph'].flavor.cpu }}"
  disk  = "{{ mnaio_deployment['ceph'].flavor.disk }}"
}
