#### CEPHS ####

# Create instance
resource "openstack_compute_instance_v2" "ceph" {
  for_each    = local.ceph_nodes
  name        = "${join("-",["${random_pet.pet_name.id}","${each.key}"])}"
  image_id    = {% if mnaio_deployment.ceph.image_uuid == "" %}openstack_images_image_v2.osa-mnaio-image.id{% else %}"{{ mnaio_deployment.ceph.image_uuid }}"{% endif %}{{''}}
  flavor_id   = openstack_compute_flavor_v2.osa-mnaio-ceph-flavor.id
  key_pair    = openstack_compute_keypair_v2.user_key.name
  user_data   = file("scripts/cloud-init.yaml")
  config_drive = {{ mnaio_deployment.ceph.config_drive | lower }}
  network {
    port = openstack_networking_port_v2.ceph-mgmt[each.key].id
  }
  network {
    port = openstack_networking_port_v2.ceph-container[each.key].id
  }
  network {
    port = openstack_networking_port_v2.ceph-storage[each.key].id
  }
  network {
    port = openstack_networking_port_v2.ceph-replication[each.key].id
  }
  depends_on = [ openstack_images_image_v2.osa-mnaio-image ]
}

# Create network port
resource "openstack_networking_port_v2" "ceph-mgmt" {
  for_each       = local.ceph_nodes
  name           = "${join("-",["${random_pet.pet_name.id}","mgmt","${each.key}"])}"
  network_id     = openstack_networking_network_v2.mnaio-management.id
  admin_state_up = true
  mac_address = macaddress.ceph_mgmt_macaddr[each.key].address
  security_group_ids = [
    openstack_networking_secgroup_v2.secgrp-mnaio.id
  ]
  fixed_ip {
    ip_address = each.value.mgmt_addr
    subnet_id = openstack_networking_subnet_v2.mnaio-management.id
  }
}

resource "openstack_networking_port_v2" "ceph-container" {
  for_each       = local.ceph_nodes
  name           = "${join("-",["${random_pet.pet_name.id}","container","${each.key}"])}"
  network_id     = openstack_networking_network_v2.mnaio-container.id
  admin_state_up = true
  mac_address = macaddress.ceph_container_macaddr[each.key].address
  no_security_groups = true
  port_security_enabled = false
  fixed_ip {
    ip_address = each.value.container_addr
    subnet_id = openstack_networking_subnet_v2.mnaio-container.id
  }
}

resource "openstack_networking_port_v2" "ceph-storage" {
  for_each       = local.ceph_nodes
  name           = "${join("-",["${random_pet.pet_name.id}","storage","${each.key}"])}"
  network_id     = openstack_networking_network_v2.mnaio-storage.id
  admin_state_up = true
  mac_address = macaddress.ceph_storage_macaddr[each.key].address
  no_security_groups = true
  port_security_enabled = false
  fixed_ip {
    ip_address = each.value.storage_addr
    subnet_id = openstack_networking_subnet_v2.mnaio-storage.id
  }
}

resource "openstack_networking_port_v2" "ceph-replication" {
  for_each       = local.ceph_nodes
  name           = "${join("-",["${random_pet.pet_name.id}","replication","${each.key}"])}"
  network_id     = openstack_networking_network_v2.mnaio-replication.id
  admin_state_up = true
  mac_address = macaddress.ceph_replication_macaddr[each.key].address
  no_security_groups = true
  port_security_enabled = false
  fixed_ip {
    ip_address = each.value.replication_addr
    subnet_id = openstack_networking_subnet_v2.mnaio-replication.id
  }
}

######################
#### Floating IPs ####
######################

resource "openstack_networking_floatingip_v2" "ceph_floating_ip_mgmt" {
  pool         = var.external_network["name"]
  for_each     = local.ceph_nodes
}

resource "openstack_compute_floatingip_associate_v2" "ceph_fip_associate_mgmt" {
  for_each        = local.ceph_nodes
  instance_id     = openstack_compute_instance_v2.ceph[each.key].id
  floating_ip     = "${openstack_networking_floatingip_v2.ceph_floating_ip_mgmt[each.key].address}"
  fixed_ip        = "${openstack_compute_instance_v2.ceph[each.key].network.0.fixed_ip_v4}"

  depends_on = [ openstack_networking_router_interface_v2.router-interface-mgmt ]
}

########################
#### Volumes (OSDs) ####
########################

resource "openstack_blockstorage_volume_v3" "volumes_0" {
  for_each    = local.ceph_nodes
  name        = "${join("-",["${random_pet.pet_name.id}","vol0","${each.key}"])}"
  description = "OSD Volume"
  size        = var.osd_volume_size
}

resource "openstack_blockstorage_volume_v3" "volumes_1" {
  for_each    = local.ceph_nodes
  name        = "${join("-",["${random_pet.pet_name.id}","vol1","${each.key}"])}"
  description = "OSD Volume"
  size        = var.osd_volume_size
}

resource "openstack_blockstorage_volume_v3" "volumes_2" {
  for_each    = local.ceph_nodes
  name        = "${join("-",["${random_pet.pet_name.id}","vol2","${each.key}"])}"
  description = "OSD Volume"
  size        = var.osd_volume_size
}

############################
#### Volume Attachments ####
############################

resource "openstack_compute_volume_attach_v2" "attachments_0" {
  for_each    = local.ceph_nodes
  instance_id = openstack_compute_instance_v2.ceph[each.key].id
  volume_id   = "${openstack_blockstorage_volume_v3.volumes_0[each.key].id}"
}

resource "openstack_compute_volume_attach_v2" "attachments_1" {
  for_each    = local.ceph_nodes
  instance_id = openstack_compute_instance_v2.ceph[each.key].id
  volume_id   = "${openstack_blockstorage_volume_v3.volumes_1[each.key].id}"
}

resource "openstack_compute_volume_attach_v2" "attachments_2" {
  for_each    = local.ceph_nodes
  instance_id = openstack_compute_instance_v2.ceph[each.key].id
  volume_id   = "${openstack_blockstorage_volume_v3.volumes_2[each.key].id}"
}

#######################
#### MAC Addresses ####
#######################

# We're creating MAC addresses here so we can use them for port creation
# and netplan interface configuration

resource "macaddress" "ceph_mgmt_macaddr" {
  for_each    = local.ceph_nodes
  prefix      = [00, 23, 62]
}

resource "macaddress" "ceph_container_macaddr" {
  for_each    = local.ceph_nodes
  prefix      = [00, 23, 62]
}

resource "macaddress" "ceph_storage_macaddr" {
  for_each    = local.ceph_nodes
  prefix      = [00, 23, 62]
}

resource "macaddress" "ceph_replication_macaddr" {
  for_each    = local.ceph_nodes
  prefix      = [00, 23, 62]
}
