network:
    version: 2
    bridges:
        br-mgmt:
            dhcp4: true
            interfaces: [ ens3 ]
{% if (ansible_host in groups['compute_hosts']) or (ansible_host in groups['controller_hosts']) %}
        br-overlay:
            dhcp4: true
            interfaces: [ ens4 ] 
{% endif %}
