network:
    version: 2
    bridges:
        br-host:
            dhcp4: true
            interfaces: [ ens3 ]
        br-mgmt:
            dhcp4: true
            interfaces: [ ens4 ]
        br-storage:
            dhcp4: true
            interfaces: [ ens5 ]
        br-repl:
            dhcp4: true
            interfaces: [ ens6 ]
